
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #E6E6FA;
    margin: 0;
}

.container {
    text-align: center;
}

.tamagochi-container {
    margin-bottom: 20px;
}

#tamagochiImage {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto 20px auto;
    border: 1px solid #D8BFD8;
}

.buttons {
    margin: 20px 0;
}

.progress-bars {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color:#E0FFFF;
  border: 1px solid #B0E0E6;
}

.progress-container {
  width: 100%;
  background-color: #f3f3f3; 
  border-radius: 5px;
  overflow: hidden;
}


.oalimentar {
  background-color: #ddd;
  border: 1px solid #8B0000;
  border-radius: 10px;
  color: black;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.oalimentar:hover {
  background-color: #B22222;
  color: white;
}

.obrincar {
  background-color: #ddd;
  border: 1px solid  #C71585;
  border-radius: 10px;
  color: black;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.obrincar:hover {
  background-color: #FF1493;
  color: white;
}

.ocuidar {
  background-color: #ddd;
  border: 1px solid #2E8B57;
  border-radius: 10px;
  color: black;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.ocuidar:hover {
  background-color: #3CB371;
  color: white;
}

.odormir {
  background-color: #ddd;
  border: 1px solid #483D8B;
  border-radius: 10px;
  color: black;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.odormir:hover {
  background-color: #6A5ACD;
  color: white;
}
